tests/test_inputs/** filter=lfs diff=lfs merge=lfs -text
tests/test_ignitions/** filter=lfs diff=lfs merge=lfs -text

examples/example_inputs/** filter=lfs diff=lfs merge=lfs -text
examples/example_ignitions/** filter=lfs diff=lfs merge=lfs -text
